<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encryption Test</title>
</head>
<body>
    <h1>Encryption Test</h1>

    <h3>Extracted data from database</h3>
    <div>{{ orig_data }}</div>

    <h3>Encrypted data</h3>
    <div style="word-break: break-all">{{ encrypted_data }}</div>

    <h3>Encrypted symmetric key</h3>
    <div style="word-break: break-all">{{ encrypted_symmetric_key }}</div>

    <h3>HMAC verification result</h3>
    <div>{{ hmac_result }}</div>

    <h3>Decrypted data</h3>
    <div>{{ decrypted_data }}</div>
</body>
</html>