{% extends "users/base.html" %}
{% block title %} Menu {% endblock title %}
{% block content %}
    <div class="card p-2">
        <h1 class="border-bottom">Menu</h1>
        <form method="GET" action="{% url 'menu' %}">
            <div class="form-row mx-0">
                <div class="col-9 col-sm-10">
                    <input class="form-control" type="text" name="q" placeholder="Search meals..." value="{{ request.GET.q }}">
                </div>
                <div class="col-3 col-sm-2">
                    <button class="btn btn-primary btn-block" type="submit">Search</button>
                </div>
            </div>
        </form>
        <div class="">
            {% for meal in mealsList %}
                <div class="card p-3 m-1 bg-white rounded">
                     <div class="">
                        <h3>{{ meal.name }}</h3>
                        <p>Price: {{ meal.price }}€</p>
                    </div>
                    <div class="">
                        <a class="btn btn-success" href="{% url 'meal' meal.id %}">Order</a>
                        <a class="btn btn-primary" href="{% url 'leave-review' meal.id %}">Leave a Review</a>
                        <a class="btn btn-info" href="{% url 'review-list' meal.id %}">Reviews</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
